@{
    ViewBag.Title = "Home Page";
}

<h3>Activity</h3>

<div class="col-md-12">
    @Html.Raw(ViewBag.PieChart)
</div>

<div class="col-md-6">
    @Html.Raw(ViewBag.ColumnChart)
</div>

<div class="col-md-6">
    @Html.Raw(ViewBag.BarChart)
</div>
